<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F3DC5E81DA2BAC0007BEFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F3DC5FC1DA2BAC1007BEFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F3DC6071DA2BAC1007BEFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
